@import "tailwindcss";


@theme{
    --color-primary: #006a5b;
}

::-webkit-scrollbar{
    @apply hidden
}

@layer utilities{
    .grid-cols-auto {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

